/* you dont need this CSS in your project */
@import url(https://fonts.googleapis.com/css?family=Jomolhari&display=swap);

body {
  margin: 0;
  padding: 0;
  font: 14px;
  color: #444;
  overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6,
nav a {
  font-family: 'Jomolhari', sans-serif;
  color: silver !important;
}

h1 {
  font-size: 8em;
  font-weight: 500;
  line-height: 1;
  margin-top: 0;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.2em;
}

section:nth-of-type(1) {
  background: url("../img/assassins/city-street.jpg");
  background-size: cover;
  height: 1571px;
  text-align: center;
}

article {
  padding: 0 0;
  margin: 0;
  height: 100%
}

.hero-text {
  padding-top: 275px;
  margin: auto;
  animation: hero 2s linear;
  transform-origin: center center;
}

.hero-text img {
  width: 1000px;
}

#black-cloud {
  width: 100% !important;
}


@keyframes hero {
  to {
    opacity: 1;
    transform: scale(1);
  }

  from {
    opacity: 0;
    transform: scale(0.8);
  }
}

section:nth-of-type(1) article:nth-of-type(1) h1 {
  padding-top: 2em
}

section:nth-of-type(1) article:nth-of-type(1) h1,
section:nth-of-type(1) article:nth-of-type(1) h3 {
  color: silver;
  margin: 1em 0 0.5em 0
}

section:nth-of-type(2) article:nth-of-type(1) {
  /*background: url('../img/assassins/outsider.png') #000 no-repeat;*/
  background-color: #000;
  width: 100%;
  min-height: 180vh;
  background-size: 400px;
  background-position: center 200px;
  text-align: center;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#parallax-img-1 {
  width: 40px;
  height: auto;
}

#parallax-img-2 {
  width: 160px;
  height: auto;
  transform: rotate(-30deg);
}

#parallax-img-3 {
  width: 50px;
  height: auto;
  transform: rotate(-12deg);
}

#parallax-img-4 {
  width: 140px;
  height: auto;
  transform: rotate(14deg);
}

#parallax-img-5 {
  width: 40px;
  height: auto;
  transform: rotate(14deg);
}

#parallax-img-6 {
  width: 80px;
  height: auto;
  transform: rotate(7deg);
}

#parallax-img-7 {
  width: 50px;
  height: auto;
  transform: rotate(-12deg);
}

#parallax-img-8 {
  width: 150px;
  height: auto;
}

.space {
  height: 350px;
  width: 100%;
  background-color: black;
}